/*
  Name: Zhiyuan Jia & Yuekai Xu
  Date: October 24, 2023
  Section: CSE 154 AF
  TA: Rasmus
  This is the style.css page that is used by index.html homepage in our YourPlan
  course enrollment website. It takes a light blue theme. It allows the user
  to view both grid and list style of the filtered courses.
*/

body {
  font-family: 'Anton', sans-serif;
  background-color: hsl(180, 32%, 91%);
}

main {
  width: 90%;
  padding: 2px 50px;
}

header img {
  padding: 5px 20px;
  width: 10%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-list {
  list-style: none;
  margin: 10px;
  display: flex;
  background-color: #0077B6;
  padding: 10px 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.button {
  background-color: #0077B5;
  color: #fff;
  padding: 10px 100px;
  margin: 10px 10px;
  border: #007bff;
  cursor: pointer;
  font-size: 11px;
}

.button:hover {
  background-color: dodgerblue;
}

#search {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 80%;
}

#search::placeholder {
  color: #999;
}

#search:focus {
  outline: none;
  border: 1px solid #007bff;
}

#search-button {
  padding: 10px 50px;
  background-color: #f1ffcc;
  color: #333;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

#search-button:hover {
  background-color: #99c2ff;
}

#container {
  display: flex;
  align-items: stretch;
}

#filter-container {
  width: 20%;
  float: left;
  align-items: center;
  margin: 1px;
}

.course-grid {
  list-style: none;
  padding: 0px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.course-list {
  list-style: none;
  padding: 0px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.course-item-list {
  background-color: rgb(228, 228, 228);
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  width: 120%;
}

.course-item-list h3 a {
  text-decoration: none;
  color: #333;
}

.course-item-list p {
  color: #666;
  padding-left: 10%;
}

.course-item-list .credit {
  margin-left: auto;
}

.course-item {
  background-color: rgb(228, 228, 228);
  padding: 20px;
  margin-bottom: 10px;
  width: 160px;
}

.course-item-list, .course-item {
  margin: 10px;
}

.course-item h3 a {
  text-decoration: none;
  color: #333;
}

.course-item p {
  color: #666;
}

.course-item .credit {
  font-weight: bold;
}

footer {
  margin-top: 50px;
  margin-bottom: 20px;
}

footer hr {
  width: 30%;
}

footer p {
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #0077B6;
}

footer a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}